nav{
  background-color: #f8f5fd;
}
.menu-list ul li{
  position: relative;
}
.menu-list ul li::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -3px;
    background-color: #8532fa;
    transition: 0.2s linear all;
}
.menu-list ul l:nth-child(1)::before{
    width: 100%;
}
.menu-list ul li:hover::before{
   width: 100%;
}
.logo>img{
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
}